@import 'variables';
@import 'mixins';

.registration button{
    width: 200px;
    height: 45px;
    font-family: 'Roboto Slab', Helvetica, Arial;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px !important;
    border: 1px solid $orange !important;
    color: white;
    background: $orange !important;
    text-shadow: 1px 0 1px darken($orange, 5%);
}

.cta-button{
    @extend button;
    font-weight: bold;
    background: $red;
}