@font-face {
    font-family: 'Ashcan BB';
    src: url('./../assets/fonts/AshcanBB.eot');
    src: url('./../assets/fonts/AshcanBB.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/AshcanBB.woff2') format('woff2'),
        url('./../assets/fonts/AshcanBB.woff') format('woff'),
        url('./../assets/fonts/AshcanBB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}